:root {
    --White: #ffffff;
    --Dark-opacity-30: rgba(0,0,0,0.3);
    --Gray-opacity-50: rgba(233,233,233,0.5);
    --Blue: #0e143c;
    --Blue-light: #179de9;
    --Blue-dark: #00507c;
    --Pink-light: #f1c6d7;
    --Red-opacity-50: rgba(255,0,0,0.5);
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Open+Sans:wght@300;400;600;700&display=swap');


body {
    font-family: 'Lato', sans-serif; 
    font-size: 16px;
    margin: 0;
    background: transparent linear-gradient(130deg, var(--Blue)0%, var(--Pink-light) 100%) fixed;/* rotation; couleur de départ, couleur de fin*/;
}

/**
* Header
*/
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--Gray-opacity-50);
    padding: 10px 0;
}

.nav-left,
.nav-left ul,
.nav-right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-left ul li a,
.nav-right ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
}

.logo {
    width: 90px;
}

.button-light {
    border: 1px solid var(--White);
    border-radius: 50px;
    padding: 4px 14px;
}
/* main */

.container {
    width: 75%;
    margin: auto;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  var(--White);
    padding: 150px 0;
}

.intro {
    width: 35%;
}

.intro h1 {
    font-size: 2.5rem;
    margin: 0;
}

.intro p {
    font-size: 1.5rem;
    margin: 20px 0 40px 0;
}

.intro .button-blue {
    background: transparent linear-gradient(180deg, var(--Blue-light) 0%, var(--Blue-dark) 100%);
    color: var(--White);
    padding: 10px 30px;
    border-radius: 4px;
    text-shadow: 1px 1px 0 var(--Dark-opacity-30);
    box-shadow: 0 3px 4px var(--Dark-opacity-30);
    text-decoration: none;
    margin-right: 15px;
}

.intro .button-border-white {
    border: 1px solid var(--White);
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
}

